.weather-list {
  .header {
    font-weight: bold;
  }

  .line {
    margin-top: 25px;

    .city {
      font-weight: bold;
      margin-top: 40px;
    }

    .avg {
      text-align: center;
    }
  }
}
